@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.child1::-webkit-scrollbar {
    display: none;
}

.child2::-webkit-scrollbar {
    display: none;
}

@keyframes scrollX {
    from {
        left: translateX(0)
    }

    to {
        transform: translateX(calc(-100% - 0.1vw));
    }
}


.child1 {
    animation: scrollX 30s linear infinite;
}

.child2 {
    animation: scrollX 30s linear infinite reverse;
}

.text1 {
    -webkit-text-stroke: 2px rgba(36, 162, 201, 0.459);
    color: transparent;
    font-family: Arial, Helvetica, sans-serif
}

.login::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fdc009;
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    z-index: -1;
}

.login:hover::before {
    transform: translateX(0);
}
.login2::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fdc009;
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    z-index: -1;
}
.login2:hover::before {
    transform: translateX(0);
}
.arrowflip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    position: absolute;
    top: 48.7%;
    transition: all 0.3s linear;
}

.ad1 {
    clip-path: polygon(40% 0, 40% 6%, 100% 6%, 75% 94%, 20% 94%, 20% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}

.ad2 {
    clip-path: polygon(20% 0%, 100% 0%, 79% 100%, 0% 100%)
}

.ad3 {
    clip-path: polygon(40% 0, 40% 6%, 100% 6%, 75% 94%, 20% 94%, 20% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, -1);

}


.AdImg img:not(:nth-child(3)) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 70%;
}

#bg3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% 25%;
}

.fontfam {
    font-family: var(--font-albert_Sans);
}

.ADtext {
    font-family: var(--font-bodoni_Moda);
}

.Navi {
    font-family: var(--font-antonio);
}

.categ1 {
    font-family: Arial, Helvetica, sans-serif;
}
.categHead {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 800; */
}

.categ2 {
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px rgb(29, 29, 29);
}

.trendh1,
.offerText {
    font-family: var(--font-alexandria);
}

.trendSpan,
.hash,
.coText{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 2px #62d0ffbd;
    font-weight: 800;
}

.percent {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 3px #62d0ffce;
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 0.8vw;
}

::-webkit-scrollbar-track {
    background: #d1d1d1;
    box-shadow: 1px 1px 8px rgb(100, 100, 100) inset;
}

::-webkit-scrollbar-thumb {
    background: #EAB308;
    border-radius: 1vw;
    box-shadow: -1px 1px 8px rgb(100, 100, 100);
}

.YellowStrip {
    background: repeating-linear-gradient(45deg,
            #EAB308,
            #EAB308 10px,
            #000000 10px,
            #000000 20px)
}

@keyframes scrollXB {
    from {
        left: translateX(0)
    }

    to {
        transform: translateX(calc(-100% - 1px));
    }
}

.brandStrip {
    animation: scrollXB 30s linear infinite;
}

.shop:hover {
    background-color: darkgreen;
}

.More:hover {
    background-color: darkgreen;
}

.visible {
    opacity: 1;
}

.coupon {
    width: 400px;
    height: 400px;
    background: url("/IMG/Coupons/scratchCard.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.hoverEffect:hover {
    transform: scale(1.1);
}

.tilted {
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    33.38% {
        transform: translateX(calc(-100%));
    }

    58.33% {
        transform: translateX(calc(-100%));
    }

    66.66% {
        transform: translateX(calc(-200%));
    }

    91.66% {
        transform: translateX(calc(-200%));
    }

    100% {
        transform: translateX(0);
    }
}

.imgSlide {
    animation: slide 20s ease-in-out infinite;
}

.scrollInvisisble::-webkit-scrollbar {
    display: none;
}

@keyframes topScroll {
    from {
        top: translateX(0)
    }

    to {
        transform: translateY(-100%);
    }
}

.offerTextroll {
    animation: topScroll 10s linear infinite;
}

.categH1 {
    font-family: var(--font-bricolage_Grotesque);
}

.cateTitle {
    background-size: cover;
    background-position: center;
}

.cate1:hover {
    cursor: n-resize;
}

.cate1:active {
    cursor: s-resize;
}

.cate2:hover {
    cursor: n-resize;
}

.cate2:active {
    cursor: s-resize;
}

.arrow-container {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
    color: yellow;
}

.textC {
    font-family: var(--font-libre_Bodoni);
    color: rgb(73, 73, 73);
}

.extra {
    font-family: var(--font-red_Rose);
}

.mobImg {
    perspective: 50vw;
}

#phoneBG {
    transform: rotateY(30deg) rotateX(10deg);
}

.saleBG {
    transform: rotateY(30deg) rotateX(10deg);
}

#adImg1 {
    transform: rotateX(10deg);
}

.EndOfSeason {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4.5vw;
    z-index: 20;
    color: #62d0ffce;
}

.EndOfSeason::before {
    content: "END OF SEASON";
    position: absolute;
    top: 5px;
    width: 100%;
    height: 100%;
    color: #0b98d4;
    left: 15vw;
    z-index: -10;
}

.EndOfSeason::after {
    content: "END OF SEASON";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    color: #057bad;
    left: 15.4vw;
    z-index: -20;
}

.EndOfSeasonOffer {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 2px #057bad;
    font-weight: 800;
    font-size: 3.5vw;
}

.EndOfSeasonSale {
    font-size: 6vw;
    color: red;
    font-family: var(--font-monoton);
}

.LowPriceText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.containerLowP::-webkit-scrollbar {
    display: none;
}

.imgLowP::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    border: 2px solid rgba(185, 185, 185, 0.589);
    z-index: 20;
    border-radius: 0.5vw;
}

.shopText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.shops::-webkit-scrollbar{
    display: none;
}
.visit{
    background-color: rgba(253, 253, 253, 0.473);
    
}
.bestContainer::-webkit-scrollbar{
    display: none;
}
.shIMG img{
    filter: drop-shadow(10px 0px 8px rgba(61, 61, 61, 0.863));
}
.mobile{
    filter: drop-shadow(2px 0px 2px rgba(78, 78, 78, 0.863));
}
.NewContainer::-webkit-scrollbar{
    display: none;
}
.textF{
    font-family: var(--font-anton);
}
.grayIMG{
    filter: grayscale(1);
}
.grayIMG1{
    filter: grayscale(100%) brightness(150%) contrast(80%);
}

.grayIMG2{
    filter: grayscale(100%) brightness(200%) contrast(50%);
}
.grayIMG3{
    filter: grayscale(100%) brightness(300%) contrast(10%);
}
.textF2{
    font-family: var(--font-big_Shoulders_Display);
}
.reviewContain::-webkit-scrollbar{
    display: none;
}
.textsarea::-webkit-scrollbar{
    display: none;
}
.textss{
    background: linear-gradient(to bottom, rgb(108, 0, 185), skyblue, rgb(0, 218, 152));
    color: transparent;
    -webkit-background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    z-index: 999;
    
}
.overlay{
    z-index: 555;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cabinFont1{
    font-family: var(--font-cabin);
    font-weight: 400;
}
.cabinFont2{
    font-family: var(--font-cabin);
    font-weight: 700;
}
.Outfit1{
    font-family: var(--font-nunito_Sans);
    font-weight: 500;
}
.Outfit2{
    font-family: var(--font-outfit);
    font-weight: 800;
}