@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.child1::-webkit-scrollbar {
    display: none;
}

.child2::-webkit-scrollbar {
    display: none;
}

@keyframes scrollX {
    from {
        left: translateX(0)
    }

    to {
        transform: translateX(calc(-100% - 0.1vw));
    }
}


.child1 {
    animation: scrollX 25s linear infinite;
}

.child2 {
    animation: scrollX 25s linear infinite reverse;
}

.text1 {
    -webkit-text-stroke: 2px rgba(36, 162, 201, 0.459);
    color: transparent;
    font-family: Arial, Helvetica, sans-serif
}

.login::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fdc009;
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    z-index: -1;
}

.login:hover::before {
    transform: translateX(0);
}

.arrowflip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    position: absolute;
    top: 48.7%;
    transition: all 0.3s linear;
}

.ad1 {
    clip-path: polygon(40% 0, 40% 6%, 100% 6%, 75% 94%, 20% 94%, 20% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}

.ad2 {
    clip-path: polygon(20% 0%, 100% 0%, 79% 100%, 0% 100%)
}

.ad3 {
    clip-path: polygon(40% 0, 40% 6%, 100% 6%, 75% 94%, 20% 94%, 20% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, -1);

}


.AdImg img:not(:nth-child(3)){
    width: 100%;
    height: 100%;   
    object-fit: cover;
    object-position:  30% 70%;
}

#bg3 img{
    width: 100%;
    height: 100%;   
    object-fit: cover;
    object-position: 75% 25%;
}

.fontfam{
    font-family: var(--font-albert_Sans);
}

.ADtext{
    font-family: var(--font-bodoni_Moda);
}